-- Create support messages table and add approval columns

-- Create support messages table
CREATE TABLE IF NOT EXISTS support_messages (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  user_name TEXT NOT NULL,
  user_email TEXT NOT NULL,
  message TEXT NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  is_resolved BOOLEAN DEFAULT FALSE,
  admin_response TEXT,
  responded_at TIMESTAMP WITH TIME ZONE
);

-- Enable RLS for support messages
ALTER TABLE support_messages ENABLE ROW LEVEL SECURITY;

-- Support messages policies
CREATE POLICY "Admins can view all support messages"
  ON support_messages FOR SELECT
  TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM profiles WHERE profiles.id = auth.uid() AND profiles.role = 'admin'
    )
  );

CREATE POLICY "Users can insert support messages"
  ON support_messages FOR INSERT
  TO authenticated
  WITH CHECK (
    auth.uid() = user_id
  );

CREATE POLICY "Admins can update support messages"
  ON support_messages FOR UPDATE
  TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM profiles WHERE profiles.id = auth.uid() AND profiles.role = 'admin'
    )
  );

-- Grant permissions
GRANT ALL ON support_messages TO authenticated;
GRANT USAGE ON SCHEMA public TO authenticated;

-- Add approval columns to profiles table
ALTER TABLE profiles ADD COLUMN IF NOT EXISTS vendor_approved BOOLEAN DEFAULT NULL;
ALTER TABLE profiles ADD COLUMN IF NOT EXISTS delivery_approved BOOLEAN DEFAULT NULL;

-- Create indexes for better performance
CREATE INDEX IF NOT EXISTS idx_support_messages_user_id ON support_messages(user_id);
CREATE INDEX IF NOT EXISTS idx_support_messages_created_at ON support_messages(created_at);
CREATE INDEX IF NOT EXISTS idx_support_messages_resolved ON support_messages(is_resolved);