-- Incremental migration: Add multi-role support columns and functions
-- This adds the missing columns and functions without conflicting with existing migrations

-- Add boolean flags to track multiple roles (if they don't exist)
ALTER TABLE profiles 
ADD COLUMN IF NOT EXISTS is_delivery_agent BOOLEAN DEFAULT FALSE;

ALTER TABLE profiles 
ADD COLUMN IF NOT EXISTS is_vendor BOOLEAN DEFAULT FALSE;

-- Update existing records to set appropriate flags
UPDATE profiles 
SET is_vendor = TRUE 
WHERE role IN ('vendor', 'late_night_vendor') AND is_vendor IS DISTINCT FROM TRUE;

UPDATE profiles 
SET is_delivery_agent = TRUE 
WHERE role = 'delivery_agent' AND is_delivery_agent IS DISTINCT FROM TRUE;

-- Create indexes for better performance
CREATE INDEX IF NOT EXISTS idx_profiles_is_vendor ON profiles(is_vendor);
CREATE INDEX IF NOT EXISTS idx_profiles_is_delivery_agent ON profiles(is_delivery_agent);

-- Create function to add delivery agent role to existing users
CREATE OR REPLACE FUNCTION public.add_delivery_agent_role(user_id UUID, vehicle_type TEXT DEFAULT 'Bike')
RETURNS VOID AS 20251117000000
BEGIN
  -- Update profile flags
  UPDATE profiles 
  SET 
    is_delivery_agent = TRUE,
    role = CASE 
      WHEN role = 'customer' THEN 'delivery_agent'
      ELSE role
    END
  WHERE id = user_id;

  -- Create delivery agent record
  INSERT INTO public.delivery_agents (user_id, vehicle_type, is_available, active_orders_count, total_deliveries, rating)
  VALUES (
    user_id,
    vehicle_type,
    false,
    0,
    0,
    0.0
  )
  ON CONFLICT (user_id) DO NOTHING;
END;
20251117000000 LANGUAGE plpgsql SECURITY DEFINER;

-- Create function to add vendor role to existing users
CREATE OR REPLACE FUNCTION public.add_vendor_role(user_id UUID, store_name TEXT, vendor_type TEXT DEFAULT 'student')
RETURNS VOID AS 20251117000000
BEGIN
  -- Update profile flags
  UPDATE profiles 
  SET 
    is_vendor = TRUE,
    role = CASE 
      WHEN role = 'customer' THEN 'vendor'
      ELSE role
    END
  WHERE id = user_id;

  -- Create vendor record
  INSERT INTO public.vendors (user_id, store_name, description, vendor_type, is_active)
  VALUES (
    user_id,
    store_name,
    'Vendor account added',
    vendor_type,
    true
  )
  ON CONFLICT (user_id) DO NOTHING;
END;
20251117000000 LANGUAGE plpgsql SECURITY DEFINER;

-- Grant necessary permissions
GRANT EXECUTE ON FUNCTION public.add_delivery_agent_role(UUID, TEXT) TO authenticated;
GRANT EXECUTE ON FUNCTION public.add_vendor_role(UUID, TEXT, TEXT) TO authenticated;

COMMENT ON FUNCTION public.add_delivery_agent_role IS 'Adds delivery agent role to existing user';
COMMENT ON FUNCTION public.add_vendor_role IS 'Adds vendor role to existing user';
