-- Migration: Add multi-role support for unified student vendor and delivery agent system
-- This preserves existing student vendor workflow while adding delivery agent capabilities

-- Add boolean flags to track multiple roles
ALTER TABLE profiles 
ADD COLUMN IF NOT EXISTS is_delivery_agent BOOLEAN DEFAULT FALSE;

ALTER TABLE profiles 
ADD COLUMN IF NOT EXISTS is_vendor BOOLEAN DEFAULT FALSE;

-- Update existing records to set appropriate flags
UPDATE profiles 
SET is_vendor = TRUE 
WHERE role IN ('vendor', 'late_night_vendor');

UPDATE profiles 
SET is_delivery_agent = TRUE 
WHERE role = 'delivery_agent';

-- Create indexes for better performance
CREATE INDEX IF NOT EXISTS idx_profiles_is_vendor ON profiles(is_vendor);
CREATE INDEX IF NOT EXISTS idx_profiles_is_delivery_agent ON profiles(is_delivery_agent);

-- Update the auth trigger function to handle role flags
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
DECLARE
  user_role TEXT;
BEGIN
  user_role := COALESCE(NEW.raw_user_meta_data->>'role', 'customer');
  
  -- Insert/update profile with role flags
  INSERT INTO public.profiles (id, email, full_name, role, phone, created_at, is_vendor, is_delivery_agent)
  VALUES (
    NEW.id,
    NEW.email,
    COALESCE(NEW.raw_user_meta_data->>'full_name', 'User'),
    user_role,
    NEW.raw_user_meta_data->>'phone',
    NOW(),
    CASE WHEN user_role IN ('vendor', 'late_night_vendor') THEN TRUE ELSE FALSE END,
    CASE WHEN user_role = 'delivery_agent' THEN TRUE ELSE FALSE END
  )
  ON CONFLICT (id) DO UPDATE SET
    is_vendor = CASE 
      WHEN user_role IN ('vendor', 'late_night_vendor') THEN TRUE 
      ELSE profiles.is_vendor 
    END,
    is_delivery_agent = CASE 
      WHEN user_role = 'delivery_agent' THEN TRUE 
      ELSE profiles.is_delivery_agent 
    END
  WHERE profiles.id = NEW.id;

  -- Create role-specific records based on the role
  IF user_role = 'vendor' THEN
    INSERT INTO public.vendors (user_id, store_name, description, vendor_type, is_active)
    VALUES (
      NEW.id,
      COALESCE(NEW.raw_user_meta_data->>'full_name', 'User'),
      'New vendor account',
      COALESCE(NEW.raw_user_meta_data->>'vendor_type', 'student'),
      true
    )
    ON CONFLICT (user_id) DO NOTHING;
    
  ELSIF user_role = 'delivery_agent' THEN
    INSERT INTO public.delivery_agents (user_id, vehicle_type, is_available, active_orders_count, total_deliveries, rating)
    VALUES (
      NEW.id,
      COALESCE(NEW.raw_user_meta_data->>'vehicle_type', 'Bike'),
      false,
      0,
      0,
      0.0
    )
    ON CONFLICT (user_id) DO NOTHING;
  END IF;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create function to add delivery agent role to existing users
CREATE OR REPLACE FUNCTION public.add_delivery_agent_role(user_id UUID, vehicle_type TEXT DEFAULT 'Bike')
RETURNS VOID AS $$
BEGIN
  -- Update profile flags
  UPDATE profiles 
  SET 
    is_delivery_agent = TRUE,
    role = CASE 
      WHEN role = 'customer' THEN 'delivery_agent'
      ELSE role
    END
  WHERE id = user_id;

  -- Create delivery agent record
  INSERT INTO public.delivery_agents (user_id, vehicle_type, is_available, active_orders_count, total_deliveries, rating)
  VALUES (
    user_id,
    vehicle_type,
    false,
    0,
    0,
    0.0
  )
  ON CONFLICT (user_id) DO NOTHING;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create function to add vendor role to existing users
CREATE OR REPLACE FUNCTION public.add_vendor_role(user_id UUID, store_name TEXT, vendor_type TEXT DEFAULT 'student')
RETURNS VOID AS $$
BEGIN
  -- Update profile flags
  UPDATE profiles 
  SET 
    is_vendor = TRUE,
    role = CASE 
      WHEN role = 'customer' THEN 'vendor'
      ELSE role
    END
  WHERE id = user_id;

  -- Create vendor record
  INSERT INTO public.vendors (user_id, store_name, description, vendor_type, is_active)
  VALUES (
    user_id,
    store_name,
    'Vendor account added',
    vendor_type,
    true
  )
  ON CONFLICT (user_id) DO NOTHING;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Grant necessary permissions
GRANT EXECUTE ON FUNCTION public.add_delivery_agent_role(UUID, TEXT) TO authenticated;
GRANT EXECUTE ON FUNCTION public.add_vendor_role(UUID, TEXT, TEXT) TO authenticated;

COMMENT ON FUNCTION public.add_delivery_agent_role IS 'Adds delivery agent role to existing user';
COMMENT ON FUNCTION public.add_vendor_role IS 'Adds vendor role to existing user';
